container{
    height: 700px;
    width:100%;
    background-color: pink;
    position:absolute;
}
.mini-box
{

    background-color: white;
    height: 300px;
    width: 380px;
    margin-top: 170px;
    margin-left: 500px;
}